* {
    --light-green: #E0F9CF;
    --light-black: #1D1F21;
    --light-red: #FF6961;
    --light-yellow: #FDFD96;
    --light-blue: #A1B8FB;
    --light-magenta: #F49AC2;
    --light-cyan: #A4D8D8;
    --light-white: #C5C8C6;
    --light-beige: #FFFFEF;
    --dark-green: #E0F9CF;
    --dark-black: #1D1F21;
    --dark-red: #FF6961;
    --dark-yellow: #F1D113;
    --dark-blue: #002F57;
    --dark-magenta: #F49AC2;
    --dark-cyan: #A4D8D8;
    --dark-white: #C5C8C6;
    --dark-background: #000000;
    margin: 0;
}

html, body {
    height: 100%;
}

.home {
    text-decoration: none;
}

.content {
    margin-left: 1%;
    position: absolute;
    top: 2.25%;
    left: 7%;
    width: 91%;
}