@media only screen and (max-width: 600px)
{
    .toggle-sidebar
    {
        display: none;
    }
}

.toggle-sidebar
{
    position: relative;
    left: 2%;
    width: 5%;
    height: 5%;
}

.icon {
    margin-right: 0.5em;
}
