/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 */

@font-face {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: normal;
    src: url("ttf/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}

:root {
    --light-green: #E0F9CF;
    --light-black: #1D1F21;
    --light-red: #FF6961;
    --light-yellow: #FDFD96;
    --light-blue: #A1B8FB;
    --light-magenta: #F49AC2;
    --light-cyan: #A4D8D8;
    --light-white: #C5C8C6;
    --light-beige: #FFFFEF;
    --dark-green: #E0F9CF;
    --dark-black: #1D1F21;
    --dark-red: #FF6961;
    --dark-yellow: #F1D113;
    --dark-blue: #002F57;
    --dark-magenta: #F49AC2;
    --dark-cyan: #A4D8D8;
    --dark-white: #C5C8C6;
    --dark-background: #000000;
}

* {
    font-family: 'IBM Plex Mono', monospace;
}

.points_table {
    width: 100%;
    border-collapse: collapse;
    border-color: var(--light-black);
    border-spacing: 0;
    margin-bottom: 1.5%;
}

.points_table td {
    background-color: var(--light-beige);
    border-color: var(--light-black);
    border-style: solid;
    border-width: 1px;
    color: var(--light-black);
    font-family: BlexMono Nerd Font, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 20px;
    word-break: normal;
}

.points_table th {
    background-color: calc(var(--light-beige) + 30);
    border-color: var(--light-black);
    border-style: solid;
    border-width: 1px;
    color: var(--light-black);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 5px 20px;
    word-break: normal;
}

.points_table .tg-baqh {
    text-align: center;
    vertical-align: top;
}


@media screen and (max-width: 767px) {
    .points_table {
        width: auto !important;

    }

    .points_table col {
        width: auto !important;
    }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.org_points_table {
    width: 100%;
    border-collapse: collapse;
    border-color: var(--light-black);
    border-spacing: 0;
}

.org_points_table td {
    background-color: var(--light-beige);
    border-color: var(--light-black);
    border-style: solid;
    border-width: 1px;
    color: var(--light-black);
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 20px;
    word-break: normal;
}

.org_points_table th {
    background-color: calc(var(--light-beige) + 30);
    border-color: var(--light-black);
    border-style: solid;
    border-width: 1px;
    color: var(--light-black);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 5px 20px;
    word-break: normal;
}

.org_points_table .tg-baqh {
    text-align: center;
    vertical-align: top;
}

@media screen and (max-width: 1010px) {
    .org_points_table {
        width: auto !important;
    }

    .org_points_table col {
        width: auto !important;
    }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.menu-button {
    width: 7.5%;
}