@page
@model GaWo.Controllers.AdminModel
@{
    ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year} Administrationsbereich";
}

<h2 style="font-weight: bold;" class="header">Administrationsbereich</h2>
<hr class="border border-primary opacity-50">

<div class="content text-wrap">
</div>
@User.IsInRole("Admin").ToString()