@page
@model GaWo.Controllers.EditEventModel
@{
ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year}";
}

<div class="row mt-3">
    <div class="col d-flex flex-row justify-content-between mt-3">
        <button class="menu-button btn btn-outline-primary me-3" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
            <i class="fad fa-bars"></i>
        </button>

        <h2 class="header fw-bold">Event Bearbeiten</h2>

        @if (Model.AuthorizationService.AuthorizeAsync(User, null, "AdminOnly").Result.Succeeded)
        {
        <button class="menu-button btn btn-outline-primary me-3" data-bs-toggle="offcanvas"
                data-bs-target="#adminbar">
            <i class="fad fa-bars"></i>
        </button>
        }
        else
        {
        <button class="menu-button btn btn-outline-primary me-3 invisible">
            <i class="fad fa-bars"></i>
        </button>
        }
    </div>
</div>
<hr class="border border-primary opacity-50">
