@page
@model GaWo.Controllers.IndexModel
@{
    ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year.ToString()}";
}

<div class="row mt-3">
    <div class="col d-flex flex-row justify-content-between mt-3">
        <button class="menu-button btn btn-outline-primary me-3" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
            <i class="fad fa-bars"></i>
        </button>

        <h2 class="fw-bold">Gaußwoche @DateTime.Now.Year.ToString()</h2>

        @if (Model.AuthorizationService.AuthorizeAsync(User, null, "AdminOnly").Result.Succeeded)
        {
        <button class="menu-button btn btn-outline-primary me-3" data-bs-toggle="offcanvas"
                data-bs-target="#adminbar">
            <i class="fad fa-bars"></i>
        </button>
        }
        else
        {
        <button class="menu-button btn btn-outline-primary me-3 invisible">
            <i class="fad fa-bars"></i>
        </button>
        }
    </div>
</div>
<hr class="border border-primary opacity-50">

<div class="content text-wrap">
    In diesem Schuljahr wird die Gauß-Festwoche von dem 27. bis 31. März @DateTime.Now.Year.ToString() stattfinden. Bitte beachtet den Anmeldeschluss für Veranstaltungen am @(new DateTime(DateTime.Now.Year, 02, 07).ToString("dddd"))) den 07. @(new DateTime(DateTime.Now.Year, 02, 07).ToString("MMMM yyyy")).
</div>
