@page
@model LoginModel
@{
  ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year}";
}

<h2 style="font-weight: bold;" class="header">Login</h2>
<hr class="border border-primary  opacity-50">

@if (!Request.HttpContext.User.Identity!.IsAuthenticated)
{
<div class="content text-wrap" style="display: flex;">

  <form method="post" asp-page-handler="Login">
    <div class="form-group" style="margin-top: 5%; margin-bottom: 5%;">
      <label asp-for="Username">Benutzername:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group" style="margin-bottom: 5%; display: flex; flex-direction: column;">
      <label asp-for="Password">Passwort:</label>
      <input type="password" class="form-control" id="password" name="password" required>
      <button type="submit" class="btn btn-success" style="margin-top: 5%;">Anmelden</button>
    </div>
  </form>
</div>
<h3 class="text-danger">@Model.ValidationErrorMessage</h3>
}
else
{
<h3 class="text-danger">@(Request.HttpContext.User.Identity.IsAuthenticated ? "Bereits Angemeldet" : "")</h3>
<button class="btn btn-success" style="width: 250px;" onclick="location.href='/Profile'">Profil</button>
<br>
<button class="btn btn-danger" style="width: 250px; margin-top: .5%;" onclick="location.href='/Logout'">Abmelden</button>
}