@page
@model LogoutModel
@{
  ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year}";
}

<h2 style="font-weight: bold;" id="header">Login</h2>

<div class="content text-wrap" style="display: flex;">
    Bye!
</div>