@page
@model GaWo.Controllers.LogoutModel
@{
    ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year}";
}

<h2 style="font-weight: bold;" class="header">Logout</h2>

<div class="content text-wrap" style="display: flex;">
    Auf wiedersehen!
</div>