@page
@model MyEventsModel
@{
  ViewData["Title"] = $"Gaußwoche {DateTime.Now.Year}";
}

<h2>@Model.Request.HttpContext.User.Identity!.Name</h2>
<hr class="border border-primary opacity-50">

<div class="content text-wrap" style="display: flex; flex-direction: column; align-items: baseline;">
  AAAA
</div>
