@page
@model GaWo.Controllers.PrivacyModel
@{
    ViewData["Title"] = "GaWo Datenschutzbestimmungen";
}

<h2 class="header text-bold text-center" style="color: #6f42c1;">Privatsphäre Ist Tot.</h2>
<hr class="border border-primary opacity-50">