@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h2 class="header text-bold text-center" style="color: #6f42c1;">Privatsphäre Ist Tot.</h2>
<hr class="border border-primary opacity-50">